@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.body {
  width: 1600px;
  margin: 0 auto;
  background-color: #f1f1f3;
}
/* navbar start */
.menu-bar {
  background-color: #f5f5f5;
}
.nav-container {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding: 31px 0;
}

.btn button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
}
/* navbar end */

/* main start */
.main {
  width: 1280px;
  height: 500px;
  margin: 20px auto;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
}
.text-container {
  padding: 117px 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.main .text-container p {
  color: #0e0e0e;
  opacity: 50%;
  font-size: 24px;
}
.main .text-container h1 {
  font-size: 56px;
  font-weight: 700;
}
.main .btn button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  background-color: #006a50;
}
.main .main-pic {
  margin: auto 0;
  padding: 40px;
}
/* main end */

/* pillar star */
.pillar-container {
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
}
.pillar h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
.pillar-card {
  height: 244px;
  display: flex;
  gap: 24px;
}
.pillar-card .card {
  padding: 24px;
  background: white;
  border-radius: 8px;
}
.pillar-container h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.pillar-container p {
  color: #0e0e0e;
  opacity: 70%;
}
/* pillar star */
/* future start  */
.future-container {
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
}
.future-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
.future-container p {
  color: #0e0e0e;
  opacity: 70%;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 32px;
}
.future-container .future-card {
  height: 325px;
  display: flex;
  gap: 24px;
}
.future-card .card1 {
  padding: 32px;
  background-color: #5490f533;
  border-radius: 16px;
}
.future-card .card1 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card1 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card1 button {
  background-color: #5490f5;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
}
/* card2  */
.future-card .card2 {
  padding: 32px;
  background-color: #c6e4d6;
  border-radius: 16px;
}
.future-card .card2 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card2 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card2 button {
  background-color: #09a15c;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
}
/* card3 */
.future-card .card3 {
  padding: 32px;
  background-color: #f7ebcf;
  border-radius: 16px;
}
.future-card .card3 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card3 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card3 button {
  background-color: #ffc239;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
}

/* future end  */
/* donate start  */

.donate {
  width: 1280px;
  /* height: 400px; */
  margin: 0 auto;
  /* background-color: #c6e4d6; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin-bottom: 50px;
}
.donate h1 {
  font-size: 40px;
  font-weight: bold;
  /* margin-bottom: 24px; */
}
.donate p {
  color: #0e0e0e;
  opacity: 70%;
  font-size: 16px;
  margin-bottom: 24px;
}
.donate .price-boxes {
  display: flex;
  margin: 24px auto;
  justify-content: space-evenly;
}
.donate .price-boxes .box1 {
  background-color: white;
  border-radius: 16px;
}
.donate .price-boxes .box1 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}

.donate .price-boxes .box2 {
  border-radius: 16px;
  background-color: #c6e4d6;
}
.donate .price-boxes .box2 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}

.donate .price-boxes .box3 {
  background-color: white;
  border-radius: 16px;
}
.donate .price-boxes .box3 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}
.donate .price-boxes .box4 {
  background-color: white;
  border-radius: 16px;
}
.donate .price-boxes .box4 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}

.donate input {
  width: 1070px;
  height: 64px;
  border: none;
  background: white;
}
input[type="number"] {
  text-align: center;
  font-size: 20px;
  color: #0e0e0e;
}

.donate .donate-input {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.donate .input-btn button {
  padding: 17px 34px;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #006a50;
}
/* donate end  */

/* newletter start  */
.newsletter {
  width: 1280px;
  height: 400px;
  margin: 0 auto;
  background-color: #c6e4d6;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin-bottom: 50px;
}
.newsletter-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.newsletter-container p {
  color: #0e0e0e;
  opacity: 75%;
  font-size: 16px;
  margin-bottom: 24px;
}
.inputbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.inputbtn input {
  width: 600px;
  height: 56px;
  border: none;
  border-radius: 8px 0 0 8px;
  background: rgb(255, 255, 255);
}
::placeholder {
  color: #0e0e0e;
  opacity: 30%;
  font-size: 16px;
  padding: 0 40px;
}
.inputbtn button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 0 8px 8px 0;
  color: white;
  border: none;
  background-color: #006a50;
}

/* newletter end  */
/* footer start  */
.footer-container {
  width: 1456px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}
.footer-container .border-bottom {
  margin: 32px auto;
  text-align: center;
  border-bottom: 1px solid #0e0e0e1a;
  width: 1122px;
}
.social-media {
  width: 120px;
  height: 24px;
  margin: 0 auto;
  display: flex;
  gap: 23px;
}
/* footer end  */
