@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.body {
  width: 1600px;
  margin: 0 auto;
  background-color: #f1f1f3;
}
/* navbar start */
.menu-bar {
  background-color: #f5f5f5;
}
.nav-container {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding: 31px 0;
}

.btn button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
}
/* navbar end */

/* main start */
.main {
  width: 1280px;
  height: 500px;
  margin: 20px auto;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
}
.text-container {
  padding: 117px 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.main .text-container p {
  color: #0e0e0e;
  opacity: 50%;
  font-size: 24px;
}
.main .text-container h1 {
  font-size: 56px;
  font-weight: 700;
}
.main .btn button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  background-color: #006a50;
}
.main .main-pic {
  margin: auto 0;
  padding: 40px;
}
/* main end */

/* pillar star */
.pillar-container {
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
}
.pillar h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
.pillar-card {
  height: 244px;
  display: flex;
  gap: 24px;
}
.pillar-card .card {
  padding: 24px;
  background: white;
  border-radius: 8px;
}
.pillar-container h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.pillar-container p {
  color: #0e0e0e;
  opacity: 70%;
}
/* pillar star */
/* future start  */
.future-container {
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
}
.future-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
.future-container p {
  color: #0e0e0e;
  opacity: 70%;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 32px;
}
.future-container .future-card {
  height: 325px;
  display: flex;
  gap: 24px;
}
.future-card .card1 {
  padding: 32px;
  background-color: #5490f533;
  border-radius: 16px;
}
.future-card .card1 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card1 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card1 button {
  background-color: #5490f5;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
}
/* card2  */
.future-card .card2 {
  padding: 32px;
  background-color: #c6e4d6;
  border-radius: 16px;
}
.future-card .card2 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card2 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card2 button {
  background-color: #09a15c;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
}
/* card3 */
.future-card .card3 {
  padding: 32px;
  background-color: #f7ebcf;
  border-radius: 16px;
}
.future-card .card3 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card3 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card3 button {
  background-color: #ffc239;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
}

/* future end  */
