@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.body {
  width: 1600px;
  margin: 0 auto;
  background-color: #f1f1f3;
}
/* navbar start */
.nav-container {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding: 31px 0;
}

.btn button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  cursor: pointer;
}
.btn button:hover {
  background-color: #c6e4d6;
}
/* navbar end */

/* main start */
.main {
  width: 1280px;
  height: 500px;
  margin: 20px auto;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
}
.main .text-container {
  padding: 117px 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.main .text-container p {
  color: #0e0e0e;
  opacity: 50%;
  font-size: 24px;
  font-weight: 600;
}
.main .text-container h1 {
  font-size: 51px;
  font-weight: 700;
}
.main .btn button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  background-color: #006a50;
  border: none;
}
.main .btn button:hover {
  background-color: #09a15c;
}
.main .main-pic {
  margin: auto 0;
  padding: 40px;
}
/* main end */

/* pillar star */
.pillar-container {
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 70px;
}
.pillar h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
.pillar-card {
  height: 244px;
  display: flex;
  gap: 24px;
}
.pillar-card .card {
  padding: 24px;
  background: white;
  border-radius: 8px;
}
.pillar-container h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.pillar-container p {
  color: #0e0e0e;
  opacity: 70%;
}
/* pillar star */
/* future start  */
.future-container {
  width: 1280px;
  margin: 80px auto;
  margin-bottom: 32px;
  width: 1280px;
}
.future-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
}
.future-container p {
  color: #0e0e0e;
  opacity: 70%;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 32px;
}
.future-container .future-card {
  height: 325px;
  display: flex;
  gap: 24px;
}
.future-card .card1 {
  padding: 32px;
  background-color: #5490f533;
  border-radius: 16px;
}
.future-card .card1 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card1 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card1 button {
  background-color: #5490f5;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
  cursor: pointer;
}
.future-card .card1 button:hover {
  background-color: #0661ff;
}
/* card2  */
.future-card .card2 {
  padding: 32px;
  background-color: #c6e4d6;
  border-radius: 16px;
}
.future-card .card2 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card2 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card2 button {
  background-color: #09a15c;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
  cursor: pointer;
}
.future-card .card2 button:hover {
  background-color: #03532f;
}
/* card3 */
.future-card .card3 {
  padding: 32px;
  background-color: #f7ebcf;
  border-radius: 16px;
}
.future-card .card3 h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.future-card .card3 p {
  color: #0e0e0e;
  opacity: 70%;
}
.future-card .card3 button {
  background-color: #ffc239;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: none;
  z-index: 2;
  cursor: pointer;
}
.future-card .card3 button:hover {
  background-color: #ad7900;
}

/* future end  */
/*Dr yunus start */
.yunus {
  width: 1280px;
  height: 256px;
  background-color: white;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
  border: 1px solid #0e0e0e1a;
  margin-bottom: 60px;
}
.yunus .ycontainer {
  background-image: url("./assets/quote-bg.png");
  background-repeat: no-repeat;
  padding: 30px 0;
  position: absolute;
  left: 23px;
  top: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.yunus .ycontainer h6 {
  font-size: 20px;
  font: weight 600px;
  line-height: 24px;
  color: #0e0e0e;
  opacity: 80%;
}
.yunus .ycontainer .font-p {
  color: #0e0e0e;
  opacity: 80%;
}
.yunus .ycontainer p {
  color: #0e0e0e;
  opacity: 60%;
}
/* Dr yunus  end */

/* recent start  */
.recent {
  width: 1280px;
  margin: 0 auto;
}
.recent-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}
.recent-text p {
  color: #0e0e0eb3;
  opacity: 70%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.recent .box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 400px;
  border-radius: 24px;
}
.img-container {
  width: 80%;
}
.recent .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
}
.recent .text-container h1 {
  font-weight: bold;
  font-size: 32px;
  color: #0e0e0e;
  opacity: 80%;
}
.recent .text-container p {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
.recent .text-container button {
  padding: 17px 34px;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #006a50;
  cursor: pointer;
}
.recent .text-container button:hover {
  background-color: #09a15c;
}
.recent .box-container .img-container img {
  border-radius: 24px;
  margin-left: 50px;
}
.recent .box-container .text-container img {
  width: 135px;
}
.box-container2 {
  width: 1280px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 400px;
  border-radius: 24px;
}
.text-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  gap: 20px;
  width: 55%;
  margin-left: 15px;
}

/* conatiner 2 */
.text-container2 h1 {
  font-weight: bold;
  font-size: 32px;
  color: #0e0e0e;
  opacity: 80%;
}
.text-container2 p {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
.text-container2 button {
  padding: 17px 34px;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #006a50;
  cursor: pointer;
}
.text-container2 button:hover {
  background-color: #09a15c;
}
.text-container2 img {
  width: 135px;
}
.img-container2 {
  width: 32%;
}
.img-container2 img {
  border-radius: 24px;
}
/*  end*/
/* conatiner 3 */

.box-container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 400px;
  border-radius: 24px;
}

.text-containe3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
}
.text-container3 h1 {
  font-weight: bold;
  font-size: 32px;
  color: #0e0e0e;
  opacity: 80%;
}
.text-container3 p {
  font-size: 16px;
  color: #0e0e0e;
  opacity: 70%;
}
.text-container3 button {
  padding: 17px 34px;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #006a50;
  cursor: pointer;
}
.text-container3 button:hover {
  background-color: #09a15c;
}
.box-container3 .img-container3 img {
  border-radius: 24px;
  margin-left: 30px;
}
.box-container3 .text-container3 img {
  width: 135px;
}
.box-container3 {
  width: 1280px;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 400px;
  border-radius: 24px;
}
.text-container3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  gap: 20px;
  width: 60%;
  /* margin-left: 30px; */
}

/*  */
/* recent end  */

/* donate start  */

.donate {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin-bottom: 50px;
}
.donate h1 {
  font-size: 40px;
  font-weight: bold;
}
.donate p {
  color: #0e0e0e;
  opacity: 70%;
  font-size: 16px;
  margin-bottom: 24px;
  margin-top: 20px;
}
.donate .price-boxes {
  display: flex;
  margin: 24px auto;
  justify-content: space-evenly;
}
.donate .price-boxes .box1 {
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}
.donate .price-boxes .box1:hover {
  background-color: #10cc74;
}
.donate .price-boxes .box1 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}

.donate .price-boxes .box2 {
  border-radius: 16px;
  background-color: #c6e4d6;
  cursor: pointer;
}
.donate .price-boxes .box2:hover {
  background-color: #10cc74;
}
.donate .price-boxes .box2 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}

.donate .price-boxes .box3 {
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}
.donate .price-boxes .box3:hover {
  background-color: #10cc74;
}
.donate .price-boxes .box3 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}
.donate .price-boxes .box4 {
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}
.donate .price-boxes .box4:hover {
  background-color: #10cc74;
}
.donate .price-boxes .box4 h1 {
  color: #0e0e0e;
  opacity: 80%;
  font-weight: bold;
  font-size: 40px;
  padding: 40px;
}

.donate input {
  width: 1070px;
  height: 64px;
  border: none;
  background: white;
}
input[type="number"] {
  text-align: center;
  font-size: 20px;
  color: #0e0e0e;
}

.donate .donate-input {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.donate .input-btn button {
  padding: 17px 34px;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #006a50;
  cursor: pointer;
}
.donate .input-btn button:hover {
  background-color: #09a15c;
}
/* donate end  */

/* newletter start  */
.newsletter {
  width: 1280px;
  height: 400px;
  margin: 0 auto;
  background-color: #c6e4d6;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin-bottom: 50px;
}
.newsletter-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.newsletter-container p {
  color: #0e0e0e;
  opacity: 75%;
  font-size: 16px;
  margin-bottom: 24px;
}
.inputbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.inputbtn input {
  width: 600px;
  height: 56px;
  border: none;
  border-radius: 8px 0 0 8px;
  background: rgb(255, 255, 255);
}
::placeholder {
  color: #0e0e0e;
  opacity: 30%;
  font-size: 16px;
  padding: 0 40px;
}
.inputbtn button {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 0 8px 8px 0;
  color: white;
  border: none;
  background-color: #006a50;
  cursor: pointer;
}
.inputbtn button:hover {
  background-color: #09a15c;
}

/* newletter end  */
/* footer start  */
.footer-container {
  width: 1600px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 50px 0;
  text-align: center;
  background-color: white;
}
.footer-container .border-bottom {
  margin: 32px auto;
  text-align: center;
  border-bottom: 1px solid #0e0e0e1a;
  width: 1122px;
}
.social-media {
  width: 120px;
  height: 24px;
  margin: 0 auto;
  display: flex;
  gap: 23px;
  cursor: pointer;
}
/* footer end  */
